<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ExtJS4</display-name>
	<welcome-file-list>
		<welcome-file>ExtJS-HelloWorld.html</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.sample.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.sample.hsql.HSQLDBStartListener</listener-class>
	</listener>
	<!-- DirectJNgine servlet -->
	<servlet>
		<servlet-name>DjnServlet</servlet-name>
		<servlet-class>
			com.softwarementors.extjs.djn.servlet.DirectJNgineServlet</servlet-class>
		<init-param>
			<param-name>providersUrl</param-name>
			<param-value>djn/directprovider</param-value>
		</init-param>
		<init-param>
			<param-name>apis</param-name>
			<param-value>form,data</param-value>
		</init-param>
		<init-param>
			<param-name>form.apiFile</param-name>
			<param-value>form/api.js</param-value>
		</init-param>
		<init-param>
			<param-name>data.apiFile</param-name>
			<param-value>data/api.js</param-value>
		</init-param>
		<init-param>
			<param-name>form.apiNamespace</param-name>
			<param-value>Ext.form.app</param-value>
		</init-param>
		<init-param>
			<param-name>data.apiNamespace</param-name>
			<param-value>Ext.data.app</param-value>
		</init-param>
		<init-param>
			<param-name>form.classes</param-name>
			<param-value>
				com.sample.ext4.direct.form.action.FormAction
			</param-value>
		</init-param>
		<init-param>
			<param-name>data.classes</param-name>
			<param-value>
				com.sample.ext4.direct.data.action.DataAction
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<!-- 指定gson的配置类 -->
			<param-name>gsonBuilderConfiguratorClass</param-name>
			<param-value>com.sample.ext4.direct.config.GsonBuilderConfiguratorCustom</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DjnServlet</servlet-name>
		<url-pattern>/djn/directprovider/*</url-pattern>
	</servlet-mapping>
</web-app>